## Data cleaning

In this section, we first see the data structure and identify data attributes. We then clean the data, including removing bad rows, bad attributes, imputing missing values, etc.

First of all, we import the necessary packages to the Jupyter notebook:

In [1]:
import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
np.random.seed(1)

We load the raw data.

In [3]:
df = pd.read_csv('coag.csv',sep= ',')

In [4]:
df.head()

,NO,Y,Sex 1.Male 2.Female,Age,Before treatment,Severity 1.mild/moderate 2.severe,PT,Platelet,FDP,SIRS_t1,...,SOFA cardiovascular 0-1-2,SOFA CNS,SOFA renal,SOFA renal 0-1-2,Total SOFA (4 items),SIC score (PT+PLT),SIC score（PT+PLT+ Total SOFA）,SIC 1.positive 2.negative,Unnamed: 27,Unnamed: 28
0,1,1,1,72.0,1,2,1.17,41.0,17.0,2,...,2.0,NaN,0,NaN,5,2,4,2,NaN,NaN
1,2,1,2,76.0,1,2,1.95,23.0,18.7,3,...,2.0,3.0,2,2.0,8,4,6,1,NaN,NaN
2,3,2,1,93.0,2,2,1.83,57.0,22.9,3,...,NaN,3.0,0,NaN,2,4,6,1,NaN,NaN
3,4,1,2,76.0,2,2,1.23,66.0,23.4,2,...,2.0,4.0,4,2.0,8,3,5,1,NaN,NaN
4,5,1,1,76.0,2,2,1.08,44.0,3.9,4,...,1.0,2.0,3,2.0,3,2,4,2,NaN,NaN

Dropping the column `NO` as it is unrelated to the dependent variable

In [5]:
df = df.drop(['NO','PT'],axis=1)

The dependent variable is the mortality of the patient.

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1498 entries, 0 to 1497
Data columns (total 27 columns):
Y                                         1498 non-null int64
Sex
1.Male
2.Female                       1498 non-null int64
Age                                       1494 non-null float64
Before
treatment                          1498 non-null int64
Severity
1.mild/moderate
2.severe         1498 non-null int64
Platelet                                  1498 non-null float64
FDP                                       1303 non-null float64
SIRS_t1                                   1498 non-null int64
SIRS
3 or more
1. positive
2. negative    1498 non-null int64
JAAM DIC
score                            1498 non-null int64
JAAM
DIC
1.positive
2.negative            1498 non-null int64
SOFA
respiratory                          1498 non-null int64
SOFA
respiratory
0-1-2                    1262 non-null float64
SOFA
coagulation                          1498 non-null int64
SOFA
hepatic                              1498 non-null int64
SOFA
hepatic
0-1-2                        783 non-null float64
SOFA
cardiovascular                       1498 non-null int64
SOFA
cardiovascular
0-1-2                 1128 non-null float64
SOFA
CNS                                  1160 non-null float64
SOFA
renal                                1498 non-null int64
SOFA
renal
0-1-2                          894 non-null float64
Total SOFA
(4 items)                      1498 non-null int64
SIC score
(PT+PLT)                        1498 non-null int64
SIC score（PT+PLT+
 Total SOFA）            1498 non-null int64
SIC
1.positive
2.negative                 1498 non-null int64
Unnamed: 27                               0 non-null float64
Unnamed: 28                               0 non-null float64
dtypes: float64(10), int64(17)
memory usage: 316.1 KB

To clearn the data, we first replace the empty value by `nan`.

In [7]:
# replace empty by nan
df = df.replace(r'^\s+$', np.nan, regex=True)
df

,Y,Sex 1.Male 2.Female,Age,Before treatment,Severity 1.mild/moderate 2.severe,Platelet,FDP,SIRS_t1,SIRS 3 or more 1. positive 2. negative,JAAM DIC score,...,SOFA cardiovascular 0-1-2,SOFA CNS,SOFA renal,SOFA renal 0-1-2,Total SOFA (4 items),SIC score (PT+PLT),SIC score（PT+PLT+ Total SOFA）,SIC 1.positive 2.negative,Unnamed: 27,Unnamed: 28
0,1,1,72.0,1,2,41.0,17.00,2,2,4,...,2.0,NaN,0,NaN,5,2,4,2,NaN,NaN
1,1,2,76.0,1,2,23.0,18.70,3,1,6,...,2.0,3.0,2,2.0,8,4,6,1,NaN,NaN
2,2,1,93.0,2,2,57.0,22.90,3,1,6,...,NaN,3.0,0,NaN,2,4,6,1,NaN,NaN
3,1,2,76.0,2,2,66.0,23.40,2,2,5,...,2.0,4.0,4,2.0,8,3,5,1,NaN,NaN
4,1,1,76.0,2,2,44.0,3.90,4,1,4,...,1.0,2.0,3,2.0,3,2,4,2,NaN,NaN
5,2,1,69.0,2,2,13.0,5.30,3,1,5,...,NaN,NaN,0,NaN,0,4,4,2,NaN,NaN
6,2,2,63.0,1,2,53.0,54.50,4,1,8,...,2.0,NaN,1,1.0,7,4,6,1,NaN,NaN
7,2,1,84.0,2,2,79.0,5.80,0,2,3,...,NaN,0.0,0,NaN,1,2,3,2,NaN,NaN
8,1,1,69.0,1,2,77.0,13.50,3,1,5,...,NaN,0.0,1,1.0,3,2,4,2,NaN,NaN
9,2,1,63.0,1,2,31.0,77.80,3,1,8,...,2.0,4.0,3,2.0,8,4,6,1,NaN,NaN
10,1,1,67.0,1,2,69.0,23.60,3,1,6,...,2.0,1.0,2,2.0,8,4,6,1,NaN,NaN
11,1,2,73.0,2,2,69.0,20.00,2,2,5,...,NaN,0.0,0,NaN,0,3,3,2,NaN,NaN
12,1,2,71.0,2,1,70.0,13.00,3,1,6,...,NaN,0.0,0,NaN,2,3,5,1,NaN,NaN
13,1,2,68.0,2,2,78.0,27.40,1,2,7,...,NaN,1.0,3,2.0,4,4,6,1,NaN,NaN
14,1,2,61.0,1,2,74.0,3.70,2,2,3,...,1.0,2.0,3,2.0,3,2,4,2,NaN,NaN
15,2,2,84.0,2,2,38.0,15.80,4,1,6,...,2.0,NaN,1,1.0,5,4,6,1,NaN,NaN
16,1,1,73.0,2,2,150.0,40.80,1,2,4,...,2.0,4.0,4,2.0,6,2,4,2,NaN,NaN
17,1,1,64.0,1,2,69.0,32.20,3,1,8,...,2.0,4.0,3,2.0,8,3,5,1,NaN,NaN
18,2,1,34.0,1,2,40.0,45.40,2,2,7,...,2.0,4.0,4,2.0,8,4,6,1,NaN,NaN
19,1,1,72.0,1,2,73.0,19.80,3,1,6,...,2.0,0.0,0,NaN,6,3,5,1,NaN,NaN
20,1,2,83.0,2,2,99.0,20.90,2,2,3,...,2.0,1.0,0,NaN,4,3,5,1,NaN,NaN
21,1,2,77.0,2,2,80.0,180.00,3,1,6,...,2.0,0.0,2,2.0,6,4,6,1,NaN,NaN
22,1,2,63.0,2,2,37.0,20.90,4,1,6,...,2.0,1.0,0,NaN,4,4,6,1,NaN,NaN
23,2,1,36.0,1,2,65.0,5.00,4,1,5,...,NaN,3.0,0,NaN,1,4,5,1,NaN,NaN
24,1,1,70.0,2,2,22.0,103.00,3,1,7,...,NaN,0.0,1,1.0,3,2,4,2,NaN,NaN
25,1,1,78.0,2,2,49.0,62.30,2,2,7,...,2.0,2.0,2,2.0,6,3,5,1,NaN,NaN
26,2,1,68.0,2,2,55.0,28.00,3,1,7,...,2.0,1.0,4,2.0,6,2,4,2,NaN,NaN
27,2,2,87.0,2,2,74.0,10.20,2,2,5,...,2.0,4.0,1,1.0,5,3,5,1,NaN,NaN
28,1,1,66.0,1,2,12.0,11.00,3,1,6,...,1.0,1.0,0,NaN,5,3,5,1,NaN,NaN
29,1,2,19.0,1,2,48.0,140.80,4,1,8,...,2.0,NaN,0,NaN,4,4,6,1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1468,1,1,83.0,2,2,56.0,15.30,4,1,6,...,2.0,0.0,0,NaN,5,4,6,1,NaN,NaN
1469,1,1,87.0,2,2,135.0,34.00,2,2,4,...,2.0,0.0,0,NaN,2,3,5,1,NaN,NaN
1470,2,2,88.0,2,2,65.0,19.80,3,1,6,...,2.0,1.0,0,NaN,5,4,6,1,NaN,NaN
1471,1,1,69.0,2,2,106.0,NaN,3,1,3,...,2.0,0.0,0,NaN,5,1,3,2,NaN,NaN
1472,2,2,65.0,1,2,7.0,33.20,0,2,7,...,2.0,0.0,4,2.0,8,4,6,1,NaN,NaN
1473,2,1,69.0,2,2,27.0,15.60,4,1,6,...,2.0,NaN,2,2.0,8,4,6,1,NaN,NaN
1474,2,2,73.0,1,2,48.0,20.70,2,2,5,...,2.0,4.0,0,NaN,3,4,6,1,NaN,NaN
1475,1,1,93.0,2,2,40.0,23.70,3,1,6,...,1.0,NaN,2,2.0,7,3,5,1,NaN,NaN
1476,2,1,81.0,2,2,32.0,31.60,3,1,8,...,NaN,1.0,1,1.0,3,4,6,1,NaN,NaN
1477,1,1,47.0,2,2,80.0,12.40,3,1,4,...,1.0,NaN,0,NaN,2,4,6,1,NaN,NaN
1478,1,1,75.0,2,1,30.0,10.50,2,2,4,...,NaN,0.0,0,NaN,2,2,4,2,NaN,NaN
1479,1,2,89.0,2,2,227.0,80.00,4,1,5,...,NaN,3.0,1,1.0,2,2,4,2,NaN,NaN
1480,2,1,86.0,2,2,57.0,NaN,2,2,4,...,2.0,4.0,0,NaN,4,4,6,1,NaN,NaN
1481,1,2,83.0,2,1,30.0,8.00,3,1,5,...,1.0,3.0,0,NaN,1,2,3,2,NaN,NaN
1482,2,1,67.0,2,2,65.0,19.20,2,2,4,...,2.0,4.0,3,2.0,6,2,4,2,NaN,NaN
1483,1,1,NaN,1,2,40.0,8.30,3,1,5,...,NaN,NaN,0,NaN,2,3,5,1,NaN,NaN
1484,2,1,76.0,2,2,21.0,5.00,4,1,5,...,2.0,4.0,0,NaN,6,3,5,1,NaN,NaN
1485,1,2,76.0,1,2,92.0,7.86,3,1,3,...,1.0,0.0,0,NaN,2,4,6,1,NaN,NaN
1486,1,2,42.0,1,2,96.0,NaN,4,1,4,...,1.0,NaN,0,NaN,3,3,5,1,NaN,NaN
1487,1,2,65.0,2,2,51.0,45.90,3,1,8,...,NaN,NaN,1,1.0,2,3,5,1,NaN,NaN
1488,2,1,88.0,2,2,64.0,14.02,2,2,5,...,NaN,NaN,1,1.0,3,3,5,1,NaN,NaN
1489,2,2,74.0,1,2,89.0,91.90,4,1,6,...,2.0,4.0,3,2.0,6,4,6,1,NaN,NaN
1490,1,1,6.0,2,2,26.0,NaN,4,1,8,...,2.0,NaN,2,2.0,6,4,6,1,NaN,NaN
1491,1,1,60.0,2,2,33.0,73.50,1,2,7,...,2.0,0.0,0,NaN,5,3,5,1,NaN,NaN
1492,1,2,58.0,2,2,105.0,19.00,2,2,3,...,2.0,0.0,4,2.0,5,2,4,2,NaN,NaN
1493,2,1,84.0,2,2,40.0,49.40,2,2,7,...,2.0,4.0,0,NaN,5,3,5,1,NaN,NaN
1494,1,1,4.0,2,2,283.0,586.20,2,2,4,...,2.0,3.0,0,NaN,4,2,4,2,NaN,NaN
1495,1,1,65.0,1,2,28.0,71.00,3,1,7,...,2.0,1.0,1,1.0,6,2,4,2,NaN,NaN
1496,2,1,80.0,1,2,55.0,15.10,1,2,5,...,2.0,NaN,4,2.0,6,4,6,1,NaN,NaN
1497,2,1,82.0,1,2,25.0,37.10,4,1,8,...,2.0,2.0,1,1.0,7,4,6,1,NaN,NaN

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1498 entries, 0 to 1497
Data columns (total 27 columns):
Y                                         1498 non-null int64
Sex
1.Male
2.Female                       1498 non-null int64
Age                                       1494 non-null float64
Before
treatment                          1498 non-null int64
Severity
1.mild/moderate
2.severe         1498 non-null int64
Platelet                                  1498 non-null float64
FDP                                       1303 non-null float64
SIRS_t1                                   1498 non-null int64
SIRS
3 or more
1. positive
2. negative    1498 non-null int64
JAAM DIC
score                            1498 non-null int64
JAAM
DIC
1.positive
2.negative            1498 non-null int64
SOFA
respiratory                          1498 non-null int64
SOFA
respiratory
0-1-2                    1262 non-null float64
SOFA
coagulation                          1498 non-null int64
SOFA
hepatic                              1498 non-null int64
SOFA
hepatic
0-1-2                        783 non-null float64
SOFA
cardiovascular                       1498 non-null int64
SOFA
cardiovascular
0-1-2                 1128 non-null float64
SOFA
CNS                                  1160 non-null float64
SOFA
renal                                1498 non-null int64
SOFA
renal
0-1-2                          894 non-null float64
Total SOFA
(4 items)                      1498 non-null int64
SIC score
(PT+PLT)                        1498 non-null int64
SIC score（PT+PLT+
 Total SOFA）            1498 non-null int64
SIC
1.positive
2.negative                 1498 non-null int64
Unnamed: 27                               0 non-null float64
Unnamed: 28                               0 non-null float64
dtypes: float64(10), int64(17)
memory usage: 316.1 KB

The data still contain errors, such as `\t`, ` `, `\?`. We will delete `\t` and ` ` and convert `\?` to `np.nan`.

In [9]:
df = df.replace('\t','',regex=True)
df = df.replace(' ','',regex=True)
df = df.replace('\?','np.nan',regex=True)

We find bad columns which contain too many missing values, then remove them.

In [10]:
def remove_bad_columns(df,bad_column_threshold):
    # find bad columns having too many missing values
    n_null = np.array(df.isnull().sum(axis=0))
    bad_col = np.array([]).astype(int)
    for t in range(len(n_null)):
        if n_null[t] > bad_column_threshold:
            bad_col = np.append(bad_col,t)

    #print(bad_col)
    print('number of bad columns:',len(bad_col))

    # delete bad columns
    df = df.drop(df.columns[bad_col],axis=1)
    #df.info()
    return df

In [11]:
df = remove_bad_columns(df,200)

number of bad columns: 7

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1498 entries, 0 to 1497
Data columns (total 20 columns):
Y                                         1498 non-null int64
Sex
1.Male
2.Female                       1498 non-null int64
Age                                       1494 non-null float64
Before
treatment                          1498 non-null int64
Severity
1.mild/moderate
2.severe         1498 non-null int64
Platelet                                  1498 non-null float64
FDP                                       1303 non-null float64
SIRS_t1                                   1498 non-null int64
SIRS
3 or more
1. positive
2. negative    1498 non-null int64
JAAM DIC
score                            1498 non-null int64
JAAM
DIC
1.positive
2.negative            1498 non-null int64
SOFA
respiratory                          1498 non-null int64
SOFA
coagulation                          1498 non-null int64
SOFA
hepatic                              1498 non-null int64
SOFA
cardiovascular                       1498 non-null int64
SOFA
renal                                1498 non-null int64
Total SOFA
(4 items)                      1498 non-null int64
SIC score
(PT+PLT)                        1498 non-null int64
SIC score（PT+PLT+
 Total SOFA）            1498 non-null int64
SIC
1.positive
2.negative                 1498 non-null int64
dtypes: float64(3), int64(17)
memory usage: 234.1 KB

We find bad rows which contain too many missing values, then remove them.

In [13]:
def remove_bad_rows(df,bad_row_threshold):   
    # find bad rows having too many missing values
    n_null = np.array(df.isnull().sum(axis=1))
    bad_row = np.array([])
    for t in range(len(n_null)):
        if n_null[t] > bad_row_threshold:
            bad_row = np.append(bad_row,t)

    #print(bad_row)
    print('number of bad rows:',len(bad_row))

    # delete bad rows
    df = df.drop(bad_row)
    #df.info()
    return df

In [14]:
df = remove_bad_rows(df,5)

number of bad rows: 0

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1498 entries, 0 to 1497
Data columns (total 20 columns):
Y                                         1498 non-null int64
Sex
1.Male
2.Female                       1498 non-null int64
Age                                       1494 non-null float64
Before
treatment                          1498 non-null int64
Severity
1.mild/moderate
2.severe         1498 non-null int64
Platelet                                  1498 non-null float64
FDP                                       1303 non-null float64
SIRS_t1                                   1498 non-null int64
SIRS
3 or more
1. positive
2. negative    1498 non-null int64
JAAM DIC
score                            1498 non-null int64
JAAM
DIC
1.positive
2.negative            1498 non-null int64
SOFA
respiratory                          1498 non-null int64
SOFA
coagulation                          1498 non-null int64
SOFA
hepatic                              1498 non-null int64
SOFA
cardiovascular                       1498 non-null int64
SOFA
renal                                1498 non-null int64
Total SOFA
(4 items)                      1498 non-null int64
SIC score
(PT+PLT)                        1498 non-null int64
SIC score（PT+PLT+
 Total SOFA）            1498 non-null int64
SIC
1.positive
2.negative                 1498 non-null int64
dtypes: float64(3), int64(17)
memory usage: 245.8 KB

For convenience, we separate independents `X` and dependent `y` from the data.

In [16]:
X = df.drop('Y',axis=1)
y = df['Y']

We impute the missing value of X at each column by its median value.

In [17]:
from sklearn.base import TransformerMixin

class DataFrameImputer(TransformerMixin):
    def __init__(self):
        """Impute missing values.
        - Columns of dtype object are imputed with the most frequent value in column.
        - Columns of other types are imputed with mean of column.
        """
    def fit(self, X, y=None):
        self.fill = pd.Series([X[c].value_counts().index[0]
            # numerical --> mean, categorical --> median
            if X[c].dtype == np.dtype('O') else X[c].mean() for c in X], index=X.columns)  
                               
            # numerical, categorical --> median                   
            #if X[c].dtype == np.dtype('O') else X[c].median() for c in X], index=X.columns)
        return self

    def transform(self, X, y=None):
        return X.fillna(self.fill)

In [18]:
X = DataFrameImputer().fit_transform(X)

In [19]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1498 entries, 0 to 1497
Data columns (total 19 columns):
Sex
1.Male
2.Female                       1498 non-null int64
Age                                       1498 non-null float64
Before
treatment                          1498 non-null int64
Severity
1.mild/moderate
2.severe         1498 non-null int64
Platelet                                  1498 non-null float64
FDP                                       1498 non-null float64
SIRS_t1                                   1498 non-null int64
SIRS
3 or more
1. positive
2. negative    1498 non-null int64
JAAM DIC
score                            1498 non-null int64
JAAM
DIC
1.positive
2.negative            1498 non-null int64
SOFA
respiratory                          1498 non-null int64
SOFA
coagulation                          1498 non-null int64
SOFA
hepatic                              1498 non-null int64
SOFA
cardiovascular                       1498 non-null int64
SOFA
renal                                1498 non-null int64
Total SOFA
(4 items)                      1498 non-null int64
SIC score
(PT+PLT)                        1498 non-null int64
SIC score（PT+PLT+
 Total SOFA）            1498 non-null int64
SIC
1.positive
2.negative                 1498 non-null int64
dtypes: float64(3), int64(16)
memory usage: 234.1 KB

Now, the data are completely clean. We convert attributes `X` and target `y` to numpy arrays and save them to files.

In [20]:
X = np.array(X)
y = np.array(y)
Xy = np.hstack((X,y[:,np.newaxis]))

np.savetxt('coag_cleaned.dat',Xy,fmt='%s')